body {
  margin: 0;
  padding: 0;
  /* background-image: url(/images/bg-image.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(/images/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navigation {
  font-size: 1.5rem;
  font-weight: bolder;
  /* background-color: rgba(209, 180, 127, 0.4); */
  padding: 0.1rem;
  /* padding-bottom: 0rems; */
  /* text-align: center; */
  color: rgb(20, 14, 5);
}

.navigation .nav-brand {
  text-align: center;
  border: black solid 1px;
}
